<h1>Listing experiments</h1>

<div id='list'>
<table>
  <tr class='list_head'>
    <th>Exp num</th>
    <th>Name</th>
    <th>Sessions</th>
    <th>Double booked</th>
    <th>Available</th>
    <th colspan='3'>Action</th>
  </tr>

<% @experiments.each do |experiment| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= experiment.exp_num %></td>
    <td><%= experiment.extended_name.blank? ? experiment.name : experiment.extended_name %></td>
    <td style='text-align: center'><%= experiment.num_sessions %></td>
    <td style='text-align: center'><%= if experiment.double_booked; 'Y'; else; 'N'; end %></td>
    <td style='text-align: center'><%= if experiment.available; 'Y'; else; 'N'; end %></td>
    <td><%= link_to 'Show', experiment %></td>
    <td><%= link_to 'Edit', edit_experiment_path(experiment) %></td>
    <td><%= button_to 'Delete', experiment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Experiment', new_experiment_path %>
