<h1>Calendar</h1>

<% if not params[:error].nil? %>
  <div id="errorExplanation">
    <h2><%= params[:error] %></h2>
  </div>
<% end %>

<% if params[:notice] %>
  <p class="notice"><%= params[:notice] %></p>
<% end %>
  
<%= form_tag("update_calendar", :method => "post") do |f| %>
  <p><i>The date should be in YYYY-MM-DD format.</i></p>
  
  <div class="field">
    <%= label_tag(:sem_start, "Start date of semester:") %>
    <%= text_field_tag(:sem_start, @sem_start) %>
    <br />
    <%= label_tag(:sem_end, "End date of semester:") %>
    <%= text_field_tag(:sem_end, @sem_end) %>
  </div>
  
  <div class="field">
    <%= label_tag(:break_start, "Start date of semester break:") %>
    <%= text_field_tag(:break_start, @break_start) %>
    <br />
    <%= label_tag(:break_end, "End date of semester break:") %>
    <%= text_field_tag(:break_end, @break_end) %>
  </div>
  
  <div class="actions">
    <%= submit_tag("Save") %><br />
    <i>After saving the semester dates, all the lab opening day information below will be reset.</i>
  </div>
<% end %>

<br />

<h2>Lab Opening Day</h2>

<% if not @calendar_error.blank? %>
  <div id="errorExplanation">
    <h2><%= @calendar_error %></h2>
  </div>
  
<% else %>
  <p>Click on the each day to toggle the availability. Click the heading to select/unselect the whole column.</p>
  
  <b>Key:</b><br />
  <table>
    <tr><td class="disabled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>   <td>Non semester date</td></tr>
    <tr><td class="available">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>  <td>Lab is opened</td></tr>
    <tr><td class="unavailable">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Lab is closed</td></tr>
  </table>
  
  <p class="notice"><%= @display_experiment %></p>
  
  <% if not @dates.nil? %>
    <table style="float:left">
      <tr class='list_head'>
        <th class="day"><%= link_to "Sunday",    :action => "toggle_calendar", :column => "sunday" %></th>
        <th class="day"><%= link_to "Monday",    :action => "toggle_calendar", :column => "monday" %></th>
        <th class="day"><%= link_to "Tuesday",   :action => "toggle_calendar", :column => "tuesday" %></th>
        <th class="day"><%= link_to "Wednesday", :action => "toggle_calendar", :column => "wednesday" %></th>
        <th class="day"><%= link_to "Thursday",  :action => "toggle_calendar", :column => "thursday" %></th>
        <th class="day"><%= link_to "Friday",    :action => "toggle_calendar", :column => "friday" %></th>
        <th class="day"><%= link_to "Saturday",  :action => "toggle_calendar", :column => "saturday" %></th>
      </tr>

      <% @dates.each do |r| %>
        <tr>
          <% r.each do |c| %>
            <% if c[1] == "disabled" %>
              <td id = "date" class="<%= c[1] %>"><%= c[0] %></td>
            <% else %>
              <td id = "date" class="<%= c[1] %>"><%= link_to c[0], :action => "toggle_calendar", :date => c[0] %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>

  <!-- Experiment Table, listed side to calendar -->
  <%= form_tag("update_experiment", :method => "post") do |f| %>
   <table style="float:left;margin-left:15px;">
     <tr class='list_head'>
       <th>Experiments</th>
     </tr>
     <% @experiments.each do |exp| %>
       <tr>
         <td><%= radio_button_tag 'exp_sel', exp.id %><%= exp.name %></td>
       </tr>
     <% end %>
     <tr>
       <td>
         <div style="text-align:center;">
           <%= submit_tag("Set") %>
         </div>
       </td>
     </tr>
   </table>
  <!-- End form_tag -->
  <% end %>

<!-- End else statement -->
<% end %>
