<h1>Students Registered in Current Semester</h1>

<table>
  <tr class="list_head">
    <th>SID</th>
    <th>Last Name</th>
    <th>First Names</th>
    <th>CP</th>
    <th>Action</th>
  </tr>

<% @students.each do |s| %>
  <tr>
    <td><%= s.sid %></td>
    <td><b><%= s.last_name %></b></td>
    <td><%= s.first_name %></td>
    <td><%= s.cp %></td>
    <td><%= link_to 'Edit marks', :controller => 'marks', :action => 'edit', :student_id => s  %></td>
  </tr>
<% end %>

</table>

<br />

<% if @importRight %>
  <%= link_to "Import Student Mark", :controller => "csv_import", :action => "mark" %><br />
<% end %>
<% if @exportRight %>
  <%= link_to "Export Student Mark", :controller => "csv_export", :action => "mark" %>
<% end %>