<p class="notice"><%= notice %></p>

<p>
  <b>Experiment number:</b>
  <%= @experiment.exp_num %>
</p>

<p>
  <b>Name:</b>
  <%= @experiment.name %>
</p>

<p>
  <b>Extended name:</b>
  <%= @experiment.extended_name %>
</p>

<p>
  <b>Number of sessions:</b>
  <%= @experiment.num_sessions %>
</p>

<p>
  <b>Experiment weight:</b>
  <%= @experiment.weight %>
</p>

<p>
  <b>Available:</b>
  <%= @experiment.available ? "Yes" : "No" %>
</p>

<p>
  <b>Allow double booked?:</b>
  <%= @experiment.double_booked ? "Yes" : "No" %>
</p>

<p>
  <b>Comments:</b>
  <%= @experiment.comments %>
</p>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
