<h1>Set up Credit Point Requirement</h1>

<% if not params[:error].nil? %>
  <div id="errorExplanation">
    <h2><%= params[:error] %></h2>
  </div>
<% end %>

<% if params[:notice] %>
  <p class="notice"><%= params[:notice] %></p>
<% end %>

<%= form_tag("update", :method => "post") do |f| %>
  <table>
    <tr class='list_head'>
      <th>Credit point</th>
      <th>Experiment</th>
      <th>Report</th>
      <th>Poster</th>
      <th>Talk</th>
      <th>Assignment</th>
      <th colspan='2'>Action</th>
    </tr>

    <% @credit_points.each do |credit_point| %>
      <tr>
        <% if params[:task] == "edit" && credit_point.cp == params[:cp].to_i %>
          <td><%= credit_point.cp %><%= hidden_field_tag "cp", credit_point.cp %></td>
          <td><%= number_field_tag :experiment, credit_point.experiment %></td>
          <td><%= number_field_tag :report, credit_point.report %></td>
          <td><%= number_field_tag :poster, credit_point.poster %></td>
          <td><%= number_field_tag :talk, credit_point.talk %></td>
          <td><%= number_field_tag :assignment, credit_point.assignment %></td>
          <td><%= submit_tag("Save") %></td>
          <td><%= link_to "Cancel", action: "index" %></td>  
        <% else %>
          <td><%= credit_point.cp %></td>
          <td><%= credit_point.experiment %></td>
          <td><%= credit_point.report %></td>
          <td><%= credit_point.poster %></td>
          <td><%= credit_point.talk %></td>
          <td><%= credit_point.assignment %></td>
          <td><%= link_to "Edit", action: "index", task: "edit", cp: credit_point.cp %></td>
          <td><%= link_to "Delete", action: "destroy", cp: credit_point.cp %></td>
        <% end %>
      </tr>
    <% end %>
    
    <% if params[:task] == "new" %>
      <tr>
        <td><%= number_field_tag :cp, 0 %></td>
        <td><%= number_field_tag :experiment, 0 %></td>
        <td><%= number_field_tag :report, 0 %></td>
        <td><%= number_field_tag :poster, 0 %></td>
        <td><%= number_field_tag :talk, 0 %></td>
        <td><%= number_field_tag :assignment, 0 %></td>
        <td><%= submit_tag("Save") %></td>
        <td><%= link_to "Cancel", action: "index" %></td>  
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<%= button_to "New Credit point", action: "index", task: "new" %>
