<h1>Experiment Details</h1>

<% if not params[:error].nil? %>
  <div id="errorExplanation">
    <h2><%= params[:error] %></h2>
  </div>
<% end %>

<% if params[:notice] %>
	<div id="success">
		<h2><%= params[:notice] %></h2>
  </div>
<% end %>

<table>
  <tr><td>Experiment number: </td>   <td><%= @experiment.exp_num %></td></tr>
  <tr><td>Name: </td>                <td><%= @experiment.extended_name.blank? ? @experiment.name : @experiment.extended_name %></td></tr>
  <tr><td>Number of sessions: </td>  <td><%= @experiment.num_sessions %></td></tr>
  <tr><td>Experiment weight: </td>   <td><%= @experiment.weight %></td></tr>
  <tr><td>Allow double booked?: </td><td><%= @experiment.double_booked ? "Yes" : "No" %></td></tr>
<% if not @experiment.comments.blank? %>
  <tr><td>Comments:</td>             <td><%= @experiment.comments %></td></tr>
<% end %>
</table>

<% if not session[:role] == "student" %>
<h2>Student Details</h2>
<table>
  <tr><td>SID:        </td><td><%= @student.sid %></td></tr>
  <tr><td>First Name: </td><td><%= @student.first_name %></td></tr>
  <tr><td>Last Name:  </td><td><%= @student.last_name %></td></tr>
</table>
<% end %>

<%= form_tag("update_booking", :method => "post", :onsubmit => 'javascript:return confirmBox()') do |f| %>

  <%= hidden_field_tag("experiment_id", @experiment.id) %>
  <%= hidden_field_tag("student_id", @student.id) %>

<% if @earliest_date.nil? %>
  <h2>Number of sessions per week</h2>
  <%= radio_button("session", "num", "1", :checked => true ) %> 1 session per week (sessions must be in consecutive weeks) <br />
  <% if @experiment.num_sessions >= 2 %>
    <%= radio_button("session", "num", "2") %> 2 session per week (sessions must be in same week) <br />
  <% end %>
  <% if @experiment.num_sessions >= 3 %>
    <%= radio_button("session", "num", "3") %> 3 session per week (sessions must be on consecutive lab days) <br />
  <% end %>
<% end %>
  
  <h2>Available Dates</h2>
  <table>
    <tr class='list_head'>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
      
    <% @dates.each do |r| %>
      <tr>
        <% r.each do |c| %>
          <% if c[1] == "available" %>
            <td class="<%= c[1] %>">
              <% if @earliest_date.nil? %>
                <%= check_box_tag(c[0], value = "checked", checked = false) %>
              <% end %>
              <%= c[0] %>
            </td>
          <% else %>
            <td class="<%= c[1] %>"><%= c[0] %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>

  <br />
  
  <% if @earliest_date.nil? %>
    <%= submit_tag "Book Experiment" %>

  <% else %>
      <!-- changed it from each booking to the specific experiment's booking for a particular student-->
    <% @bookings_exp.each do |b| %>
      <%= hidden_field_tag(b.id, "unbook") %>
    <% end %>
    <% if session[:role] == "admin" %>
    <%= submit_tag("Delete Bookings") %>
    <% else %>
    <i><%= @disable_cancelation%></i>
    <%-# This is where the admin, will add the option where they wont allow students to cancel the booking -%>
    <% if ((@earliest_date - @min_day_cancel_booking) <=> Date.today) < 0  || @min_day_cancel_booking == 0 %>
      <%= submit_tag("Delete Bookings", :disabled => true) %>
      <% if @min_day_cancel_booking != 0 %>
        <i>Unable to cancel booking within <%= @min_day_cancel_booking %> days before the booked experiment</i>
      <% else %>
        <i>You are not allowed to cancel a booking.</i>
      <% end %>
    <% else %>
      <%= submit_tag("Delete Bookings") %>
    <% end  %>
  <% end %>
<% end %>
<% end %>
<br />

<b>Key:</b><br />
<table>
  <tr><td class="disabled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>   <td>Lab is closed</td></tr>
  <tr><td class="available">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>  <td>Experiment is available to be booked</td></tr>
  <tr><td class="unavailable">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Experiment is fully booked</td></tr>
  <tr><td class="booked">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>     <td>Your booking</td></tr>
</table>
  
<br />

<script>
function confirmBox() {
  var doc = document.getElementsByName('commit');
  var dates ='';
  var notice = '';

  if (doc[0].value == 'Book Experiment') {
    notice = "Confirm booking for the dates:\r\n";

    var doc2 = document.getElementsByClassName('available');
    

    for (var index = 0; index < doc2.length - 1; index++) {
      var doc3 = doc2[index].getElementsByTagName('input')[0];
      
      if (doc3.checked) {
        dates += doc3.getAttribute('name') + "\r\n";
      }
    }
  } else {
    notice = "Booking will be deleted.\r\nAre you sure?";
  }

  return confirm(notice + dates);
}
</script>
