<% if params[:notice] %>
	<div id="success">
		<h2><%= params[:notice] %></h2>
  </div>
<% end %>
<h1>Listing Bookings</h1>
<table>
	<tr class='list_head'>
		<th>Exp num</th>
    <th>Experiment name</th>
		<th>Booked date</th>
		<th>Action</th>
	</tr>
	
	<% @bookings.each do |b| %>
	<tr>
		<td><%= b.experiment.exp_num %></td>
    <td><%= b.experiment.name %></td>
		<td><%= b.date %></td>
		<td><%= link_to "View", :action => "view_experiment", :controller => "make_booking", :experiment_id => b.experiment, :student_id => @student %></td>
	</tr>
	<% end %>
</table>