<% if not params[:error].nil? %>
  <div id="errorExplanation">
    <h2><%= params[:error] %></h2>
  </div>
<% end %>

<% if params[:notice] %>
  <p class="notice"><%= params[:notice] %></p>
<% end %>

<h1>Import Student Mark</h1>

<p>The CSV file must contain the following column:</p>
<ul>
  <li>SID</li>
  <li>First name</li>
  <li>Last name</li>
  <li>Experiment number</li>
  <li>Mark type (<em>experiment</em>, <em>report</em>, <em>poster</em>, <em>talk</em> or <em>assignment</em>)</li>
  <li>Mark</li>
</ul>
<p>Note that first row of the file (the heading row) will be ignored</p>

<%= form_tag "/csv_import/upload_mark", :multipart => true, :method => "post" do %>
  <div class="field">
    Please choose a file to upload: <br />
    <%= file_field_tag "csv" %>
  </div>
  
	<p><%= submit_tag "Upload CSV" %></p>
<% end %>
