<% if not params[:error].nil? %>
  <div id="errorExplanation">
    <h2><%= params[:error] %></h2>
  </div>
<% end %>

<% if params[:notice] %>
  <p class="notice"><%= params[:notice] %></p>
<% end %>

<h1>Upload Report</h1>

<%= form_for @report, :url => '/upload_reports/upload', :multipart => true do |f| %>
  <%= f.hidden_field "user_id", :value => @user.id %>

  <div class="field">
    Please choose a file to upload: <br />
    <%= f.file_field "report" %>
  </div>
  
	<p><%= f.submit "Upload Report" %></p>
<% end %>