<!DOCTYPE html>
<html>
<head>
  <title>3rd Year Lab Booking System Login</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "lab3b", :media => "all" %>
<!-- END:stylesheet -->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body id="document-body">
  <div id="login">
    <h2>Forgot password?</h2>
    
    <% if params[:error] %>
    <p class="error"><%= params[:error] %></p>
    <% end %>
    
    <% if params[:notice] %>
    <p class="notice"><%= params[:notice] %></p>
    <% end %>
    
    <p>Enter your email address to send password reset instructions.</p>
    <%= form_tag("/login/send_password_reset", :method => "post") do %>
      <div class="field">
        <%= label_tag(:email, "Email:") %>
        <%= text_field_tag("email") %>
      </div>
      <div class="actions">
        <%= submit_tag("Reset password") %>
      </div>
    <% end %> 
  </div>
</body>
</html>
