<!DOCTYPE html>
<html>
<head>
  <title>3rd Year Lab Booking System Login</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "lab3b", :media => "all" %>
<!-- END:stylesheet -->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body id="document-body">
  <div id="login">
    <h1>3rd Year Lab Login</h1>
    
    <% if params[:error] %>
    <p class="error"><%= params[:error] %></p>
    <% end %>
    
    <% if params[:notice] %>
    <p class="notice"><%= params[:notice] %></p>
    <% end %>
    
    <%= form_tag("/login/validate", :method => "post") do %>
      <div class="field">
        <%= label_tag(:username, "Username:") %>
        <%= text_field_tag("username", params[:username]) %>
        <br />
        <%= label_tag(:password, "Password:") %>
        <%= password_field_tag(:password) %>
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="1"><%= link_to "[Forgot password?]", action: "forget_password" %></font>
      </div>
      <%= submit_tag("Login") %>
    <% end %> 
  </div>
</body>
</html>
