<h1>Students Report Details</h1>

<p>
  SID: <%= @student.sid %><br />
  Name: <%= @student.first_name %> <%= @student.last_name %>
</p>

<table>
  <tr class="list_head">
    <th>File Name</th>
    <th>File Size (KB)</th>
    <th>Uploaded Date</th>
    <th>Action</th>
  </tr>

<% @reports.each do |r| %>
  <tr>
    <td><%= r.report_file_name %></td>
    <td style="text-align:right;"><%= r.report_file_size / 1024.0 %></td>
    <td><%= r.report_updated_at %></td>
    <td><%= link_to "Download", r.report.url(:original, false) %></td>
  </tr>
<% end %>

</table>