<h1>Change Password and Details</h1>

<%= form_tag("update_details", :method => "post") do |f| %>
  <% if not params[:error].nil? %>
    <div id="errorExplanation">
      <h2><%= params[:error] %></h2>
    </div>
  <% end %>
  
  <% if params[:notice] %>
    <p class="notice"><%= params[:notice] %></p>
  <% end %>
  
  <div class="field">
    <%= label_tag(:first_name, "First name:") %>
    <%= text_field_tag(:first_name, @student.first_name) %>
    <br />
    <%= label_tag(:last_name, "Last name:") %>
    <%= text_field_tag(:last_name, @student.last_name) %>
    <br />
    <%= label_tag(:email, "Email address:") %>
    <%= text_field_tag(:email, @student.email) %>
    <br />
    <%= label_tag(:phone, "Phone number (Optional):") %>
    <%= text_field_tag(:phone, @student.phone) %>
  </div>
  
  <div class="field">
    <i>Password will remain unchanged if the following fields are left blank.</i><br />
    <%= label_tag(:current_password, "Current password:") %>
    <%= password_field_tag(:current_password) %>
    <br />
    <%= label_tag(:new_password, "New password:") %>
    <%= password_field_tag(:new_password) %>
    <br />
    <%= label_tag(:confirm_password, "Confirm password:") %>
    <%= password_field_tag(:confirm_password) %>
  </div>
  
  <div class="actions">
    <%= submit_tag("Update") %>
  </div>
<% end %>

