<% if not params[:error].nil? %>
  <div id="errorExplanation">
    <h2><%= params[:error] %></h2>
  </div>
<% end %>

<% if params[:notice] %>
  <p class="notice"><%= params[:notice] %></p>
<% end %>

<h1>Export Student Marks</h1>

<%= form_tag "/csv_export/mark" do %>
  Semester:
  <%= select_tag "semester", options_for_select(@semesters, {:selected => @semester}) %>
  <%= select_tag "year", options_for_select(@years, {:selected => @year}) %>
  <%= button_to "Update" %>
<% end %>

<br />

<%= form_tag "/csv_export/export_mark" do %>
  Export marks as CSV file
  <%= hidden_field_tag "semester", @semester %>
  <%= hidden_field_tag "year", @year %>
  <%= button_to "Export" %>
<% end %>

<table>
  <tr class='list_head'>
    <th rowspan='2'>SID</th>
    <th rowspan='2'>First name</th>
    <th rowspan='2'>Last name</th>
    <th rowspan='2'>Email</th>
    <th rowspan='2'>Credit points</th>
    <th colspan='<%= @marks_max[0] * 2 %>'>Experiment marks</th>
    <th colspan='<%= @marks_max[1] * 2 %>'>Report marks</th>
    <th colspan='<%= @marks_max[2] * 2 %>'>Poster marks</th>
    <th colspan='<%= @marks_max[3] * 2 %>'>Talk marks</th>
    <th colspan='<%= @marks_max[4] * 2 %>'>Assignment marks</th>
  </tr>
  <tr class='list_head'>
    <% for i in 1 .. @marks_max.inject(:+) do %>
      <th>Exp num</th>
      <th>Mark</th>
    <% end %>
  </tr>

  <% @result.each do |row| %>
    <tr>
    <% for i in 0..4 do %>
      <td><%= row[i] %></td>
    <% end %>
    
    <% for i in 5..9 %>
      <% if row[i].present? %>
        <% row[i].each do |m| %>
          <td><%= m[0] %></td>
          <td><%= m[1] %></td>
        <% end %>
      <% end %>
      
      <% min = row[i].nil? ? 1 : row[i].length + 1 %>
      <% for j in (min) .. (@marks_max[i - 5]) %>
        <td>-</td>
        <td>-</td>
      <% end %>
    <% end %>
    </tr>
  <% end %>
</table>